.header {
  background: #23424a;
  padding: 0 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__logo {
  width: 20%;
  max-width: 60px;
  height: auto;
}

.header__title {
  width: 100%;
  text-align: center;
  color: #ffff;
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  .header__title {
    font-size: 2rem;
  }

  .header__logo {
    max-width: 80px;
  }
}
